*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    height: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
    object-fit: none;
}

textarea {
    resize: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #ffffff;
    box-shadow: inset 0 0 0 1000px #ffffff;
    -webkit-text-fill-color: #000000;
}

input,
textarea {
    border-radius: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    opacity: 1;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
}

input:invalid,
textarea:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}

select {
    border-radius: 0;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

select,
textarea,
input:matches([type=email],
    [type=number],
    [type=password],
    [type=search],
    [type=tel],
    [type=text],
    [type=url]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container {
    text-align: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px;
}

.wrapper-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper-box .header,
.wrapper-box .footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wrapper-box main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #fff;
    padding: 0 20px;
}