@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

.navigation {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.navigation img {
    margin: 0 auto;
}

.card {
    margin:0;
    margin-bottom: 50px;
    margin-top: 20px;
}

.card__title {
    margin: 0;
    margin-bottom: 40px;
    text-align: start;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
}

.card__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card__item {
    text-align: start;
}

.card__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-top: 10px;
}

.card__button {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    background-color: #0073ff;
    padding: 16px 50px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;
}


.card__button:hover {
    outline: 1px solid #0073ff;
    background-color: #fff;
    color: #0073ff;
    transition: all ease 0.3s;
}

.card__button:active {
    outline: 1px solid #0073ff;
    background-color: #0073ff80;
    color: #0073ff;
    transition: all ease 0.3s;
}

.card__button:focus {
    background-color: #0073ff80;
}

.card__price {
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    color: #0073ff;
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.footer__wrapper {
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(82, 95, 127, 1);
    margin-bottom: 25px;
    border-top: 1px solid #eeeeee;
}

.support {
    margin-top: 15px;
}

.support__mail{
    color: #0073ff;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}